/* reset */

/**
 * Remove anchor tex-decoration
 */

a {
  text-decoration: none;
}

/**
 * Remove list-style
 */

ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}

/* style */

body {
  background: url(../images/bg-header-desktop.png) no-repeat;
  background-size: contain;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  color: #a7acb0;
  padding: 0 40px;
  line-height: 30px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #4e565d;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.introducao {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.introducaoInfo {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.introducaoInfo h1 {
  flex-basis: 100%;
  font-size: 40px;
  margin-bottom: 20px;
}

.introducaoInfo p {
  max-width: 660px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn {
  padding: 14px 35px 11px 35px;
  border-radius: 28px;
  font-size: 18px;
  color: #eefcff;
  margin: 8px;
}

.verde {
  background: #26bba5;
  filter: drop-shadow(0px 3px 0.5px #219f89);
}

.verde:hover {
  background: #5ccbba;
}

.azul {
  background: #6174ff;
  filter: drop-shadow(0px 3px 0.5px #5964be);
}

.azul:hover {
  background: #8896ff;
}

.sobrePrimeiro {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.sobrePrimeiroInfo {
  max-width: 750px;
  text-align: center;
}

.sobrePrimeiroInfo h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.sobrePrimeiroInfo p {
  margin-bottom: 100px;
}

.qualidade {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: -80px;
}

.computer {
  flex: 1;
  flex-basis: 400px;
}

.computer img {
  align-self: baseline;
  width: 100%;
}

.qualidadeItens {
  flex: 1;
  flex-basis: 300px;
  margin-left: 20px;
  margin-right: -70px;
}

.qualidadeItens h1 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.qualidadeItens p {
  max-width: 350px;
  padding-left: 20px;
  padding-right: 0;
  margin-bottom: 20px;
}

@media (max-width: 714px) {
  .qualidade {
    left: 0;
  }

  .computer {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
  }
  .qualidadeItens {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .qualidadeItens p {
    max-width: none;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.sobreSegundo {
  margin-top: 100px;
  width: 100%;
}

.sobreSegundoInfo {
  text-align: center;
}

.sobreSegundoInfo h1 {
  margin-bottom: 10px;
  font-size: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.sobreSegundoInfo p {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 720px;
  margin: 0 auto;
}

.devices {
  margin-top: 40px;
  text-align: center;
  padding: 0 30px;
}

.sobreTerceiro {
  margin-top: 60px;
  width: 100%;
}

.sobreTerceiroInfo {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.caract {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.caractItem {
  margin: 0 10px;
  flex: 1;
  flex-basis: 260px;
  margin-bottom: 60px;
}

.caractItem h1 {
  font-size: 24px;
}

.caractItem p {
  padding: 0 10px;
  font-size: 16px;
  max-width: 300px;
  margin: 0 auto;
}

.caractItem img {
  display: block;
  margin: 0 auto;
  height: 40px;
  padding: 40px;
}

.marcas {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 30px;
}

.marcas img {
  object-fit: contain;
  padding: 20px;
}

@media (max-width: 574px) {
  .marcas {
    max-width: 300px;
  }
  .marcas img {
    margin-bottom: 10px;
  }
}

.call {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

@media (max-width: 574px) {
  .call {
    margin-left: 8px;
    margin-right: 8px;
  }
  .call h1 {
    padding: 0 20px;
  }
}

.footerBg {
  background: #f5f6f8;
}

.footerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.logo img {
  max-width: 55px;
  padding: 40px 20px;
  object-fit: cover;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
}

.footerMenu {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.footerMenu p {
  color: #555e66;
  margin-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.redes {
  display: flex;
  margin-right: 20px;
}

.redes a {
  margin-left: 20px;
  align-self: center;
  padding: 10px 0.5%;
}

@media (max-width: 753px) {
  .footerContainer,
  .footerNav,
  .footerMenu {
    text-align: center;
    flex-direction: column;
  }
  .logo {
    text-align: center;
  }
  .logo img {
    padding: 20px 0;
  }
  .footerMenu p {
    margin-left: 0;
  }
  .redes {
    margin-top: 20px;
  }
}
